{{- includeTemplate "featureFlags/helpers/mustEnable" (dict
  "flag" "aws::enable"
  "context" $
) -}}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "aws-vpn::stm:config"
  "indent" 0
  "context" $
) -}}
