## $HOME/.config/chezmoi/chezmoi.yaml

encryption: gpg
gpg:
  recipient: 'dotfiles.m1xz2@slmails.com'
  args:
    - "--quiet"

sourceDir: "~/.local/share/chezmoi"
destDir: "~"

## https://www.chezmoi.io/user-guide/daily-operations/#automatically-commit-and-push-changes-to-your-repo
git:
  autoAdd: true
  autoCommit: false
  autoPush: false
  ## relative to chezmoiroot path
  commitMessageTemplateFile: ".chezmoitemplates/commit.tmpl"

progress: true

edit:
  apply: true
  watch: true
  command: "code-insiders"
  args: ["--wait"]

update:
  apply: true

onepassword:
  mode: "{{ if or (env "GITHUB_ACTIONS") (env "DOCKER") }}service{{ else }}account{{ end }}"
  prompt: true

data:
  global:
    opExist: {{ if lookPath "op" }}true{{ else }}false{{ end }}
    opSignedIn: {{ if not (lookPath "op") -}}
        false
      {{- else if exec "op" "whoami" -}}
        true
      {{- else -}}
        false
      {{- end }}
    profile: {{ if eq (env "GITHUB_ACTIONS") "true" -}}
        actions
      {{- else if eq (env "DOCKER") "true" -}}
        docker
      {{- else -}}
        machine
      {{- end }}
    os: {{ with .chezmoi.osRelease -}}
        {{- printf "%s/%s" $.chezmoi.os .id -}}
      {{- else -}}
        {{- .chezmoi.os -}}
      {{- end }}
