## $HOME/.config/chezmoi/chezmoi.yaml

encryption: gpg
gpg:
  recipient: '14089557+kamontat@users.noreply.github.com'
  args:
    - "--quiet"

sourceDir: "~/.local/share/chezmoi"
destDir: "~"

## https://www.chezmoi.io/user-guide/daily-operations/#automatically-commit-and-push-changes-to-your-repo
git:
  autoAdd: true
  autoCommit: true
  autoPush: false
  ## relative to chezmoiroot path
  commitMessageTemplateFile: "../.chezmoitemplates/internal/COMMIT_MESSAGE.tmpl"

progress: true

edit:
  apply: true
  watch: true
  command: "code-insiders"
  args: ["--wait"]

update:
  apply: true

onepassword:
    mode: "{{ if eq (env "DOCKER") "true" }}service{{ else }}account{{ end }}"
    prompt: false
