t:/tmp
h:~
pdf:~/.local/share/chezmoi
p:~/Personal
w:~/Works
{{ includeTemplate "featureFlags/helpers/include" (dict
  "flag" "wd::stm:path"
  "context" $
) }}
{{- if includeTemplate "global/variables/isDarwin" $ }}
dl:~/Downloads
dt:~/Desktop
{{- if includeTemplate "featureFlags/helpers/isEnable" (dict
  "flag" "wd::vscode-insider:path"
  "context" $
) | mustFromJson }}
  {{- includeTemplate "featureFlags/helpers/get" (dict
    "flag" "wd::vscode-insider:path"
    "value" true
    "context" $
  ) | nindent 0 -}}
{{- else -}}
  {{- includeTemplate "featureFlags/helpers/include" (dict
    "flag" "wd::vscode:path"
    "indent" 0
    "context" $
  ) -}}
{{- end }}
{{- else if includeTemplate "global/variables/isLinux" $ }}
{{- end }}
