# shellcheck disable=SC1091,SC2148

# set -x ## Enabled debug mode
# zmodload zsh/zprof

## Prerequisites:
##   - zsh
##   - zinit

{{ includeTemplate "zshrc/helpers/empty" . }}


{{- includeTemplate "zshrc/zsh/1.init.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/zsh/alias.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/zsh/bind.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/zsh/completion.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/zsh/env.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/zsh/history.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/zsh/path.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/zsh/title.zsh" (dict "context" .) }}


{{- includeTemplate "zshrc/zinit/1.init.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/zinit/alias.zsh" (dict "context" .) }}

{{- includeTemplate "zshrc/app/1.init.zsh" (dict "context" .) }}

{{- includeTemplate "zshrc/app/starship.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/history-substring.zsh" (dict "context" . "keymap" "viins") }}{{/* Must be before zvim */}}
{{- includeTemplate "zshrc/app/atuin.zsh" (dict "context" . "lazy" true) }}{{/* Must be before zvim but after autosuggest */}}
{{- includeTemplate "zshrc/app/zvim.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/autosuggest.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/colorman.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/alias-tips.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/autopair.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/autocomplete.zsh" (dict "context" . "disabled" true "_comment" "conflicted with zvim") }}
{{- includeTemplate "zshrc/app/completions.zsh" (dict "context" . "disabled" true "_comment" "cannot remember why") }}

{{- includeTemplate "zshrc/app/ast-grep.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/aws.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/bat.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/brew.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/chezmoi.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/docker.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/fd.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/forgecode.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/fzf.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/git.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/gitignore.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/helm.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/kubectl.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/lazygit.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/lsd.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/macos-utils.zsh" (dict "context" . "_global" (get . "_global")) }}
{{- includeTemplate "zshrc/app/mise.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/neovim.zsh" (dict "context" . "method" "mise") }}
{{- includeTemplate "zshrc/app/ripgrep.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/tree-sitter.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/vscode.zsh" (dict "context" . "channel" "insiders") }}
{{- includeTemplate "zshrc/app/wd.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/yazi.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/app/zoxide.zsh" (dict "context" .) }}

{{- includeTemplate "zshrc/cleanup/1.init.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/cleanup/compinit.zsh" (dict "context" .) }}
{{- includeTemplate "zshrc/cleanup/env.zsh" (dict "context" .) }}

{{- includeTemplate "zshrc/app/syntax-highlight.zsh" (dict "context" .) }}{{/* Must be on the end of the file */}}

# zprof
