t:/tmp
h:~
pdf:~/.local/share/chezmoi
p:~/Personal
w:~/Works
st:~/Works/Smartertravel
sttf:~/Works/Smartertravel/bkk-terraform
{{- if includeTemplate "global/variables/isDarwin" . }}
dl:~/Downloads
dt:~/Desktop
vsc-user:~/Library/Application Support/Code - Insiders/User
{{- else if includeTemplate "global/variables/isLinux" . }}
{{- end }}
