[core]
	editor = vim
	fsmonitor = true

[init]
	defaultBranch = main

[log]
	decorate = short

[blame]
	coloring = repeatedLines

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[color]
	diff = {{ .chezmoi.config.color }}
	status = {{ .chezmoi.config.color }}
	branch = {{ .chezmoi.config.color }}
	ui = {{ .chezmoi.config.color }}

[color "diff"]
	meta = blue
	frag = black
	old = red
	new = green

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "blame"]
	repeatedLines = gray

[color "interactive"]
	help = brightmagenta

[alias]
	b = branch
	c = commit
	cm = commit -m
	ca = commit --amend
	co = checkout
	st = status
	up = pull --rebase origin
	pm = push --set-upstream origin main

[{{ .chezmoi.config.encryption }}]
	format = ssh

[{{ .chezmoi.config.encryption }} "ssh"]
	program = "{{ .chezmoi.pathSeparator }}Applications{{ .chezmoi.pathSeparator }}1Password.app{{ .chezmoi.pathSeparator }}Contents{{ .chezmoi.pathSeparator }}MacOS{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.onepassword.command }}-ssh-sign"

[pull]
	rebase = false

[credential "https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com"]
	useHttpPath = true

[column]
	ui = {{ .chezmoi.config.color }}

[rerere]
	enabled = true

[branch]
	sort = -committerdate

[filter "lfs"]
	smudge = {{ .chezmoi.config.git.command }}-lfs smudge -- %f
	process = {{ .chezmoi.config.git.command }}-lfs filter-process
	required = true
	clean = {{ .chezmoi.config.git.command }}-lfs clean -- %f

[includeIf "gitdir{{ .chezmoi.pathListSeparator }}~{{ .chezmoi.pathSeparator }}Documents{{ .chezmoi.pathSeparator }}Personal{{ .chezmoi.pathSeparator }}"]
  path = ~{{ .chezmoi.pathSeparator }}.{{ .chezmoi.config.git.command }}{{ .chezmoi.pathSeparator }}personal{{ .chezmoi.pathSeparator }}.gitconfig

[includeIf "gitdir{{ .chezmoi.pathListSeparator }}~{{ .chezmoi.pathSeparator }}.local{{ .chezmoi.pathSeparator }}share{{ .chezmoi.pathSeparator }}chezmoi{{ .chezmoi.pathSeparator }}"]
  path = ~{{ .chezmoi.pathSeparator }}.{{ .chezmoi.config.git.command }}{{ .chezmoi.pathSeparator }}personal{{ .chezmoi.pathSeparator }}.gitconfig

[includeIf "gitdir{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}tmp{{ .chezmoi.pathSeparator }}"]
  path = ~{{ .chezmoi.pathSeparator }}.{{ .chezmoi.config.git.command }}{{ .chezmoi.pathSeparator }}personal{{ .chezmoi.pathSeparator }}.gitconfig

[includeIf "gitdir{{ .chezmoi.pathListSeparator }}~{{ .chezmoi.pathSeparator }}Documents{{ .chezmoi.pathSeparator }}Works{{ .chezmoi.pathSeparator }}Smartertravel{{ .chezmoi.pathSeparator }}"]
  path = ~{{ .chezmoi.pathSeparator }}.{{ .chezmoi.config.git.command }}{{ .chezmoi.pathSeparator }}works{{ .chezmoi.pathSeparator }}.gitconfig.st

[includeIf "gitdir{{ .chezmoi.pathListSeparator }}~{{ .chezmoi.pathSeparator }}Documents{{ .chezmoi.pathSeparator }}Works{{ .chezmoi.pathSeparator }}Rx{{ .chezmoi.pathSeparator }}"]
  path = ~{{ .chezmoi.pathSeparator }}.{{ .chezmoi.config.git.command }}{{ .chezmoi.pathSeparator }}works{{ .chezmoi.pathSeparator }}.gitconfig.rx

