{{- includeTemplate "featureFlags/helpers/mustEnable" (dict
  "flag" "git::stm:config"
  "context" $
) -}}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::stm:config"
  "selector" "gitconfig"
  "afterLine" 2
  "context" $
) -}}

[user]
	name = "{{ includeTemplate "featureFlags/helpers/include" (dict
  "flag" "git::stm:config"
  "selector" "name"
  "context" $
) }}"
	email = "{{ includeTemplate "featureFlags/helpers/include" (dict
  "flag" "git::stm:config"
  "selector" "email"
  "context" $
) }}"

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "git::stm:config"
  "selector" "path"
  "indent" 1
  "indentKey" "tab"
  "beforeLine" 1
  "afterLine" 1
  "context" $
) -}}
