#!/usr/bin/env sh

printf '>> Starting... %s\n' "setup-macos-dockutil.sh"

set -e

{{- $preferences := dig "preferences" .global.profile .global.os list . }}
{{- $dockutilPreference := dict }}
{{- range $preferences }}
  {{- if eq (dig "command" "" .) "dockutil" }}
    {{- if gt (len $dockutilPreference) 0 }}
      {{ fail "multiple dockutil preferences found; expected exactly one" }}
    {{- end }}
    {{- $dockutilPreference = . }}
  {{- end }}
{{- end }}

{{- if gt (len $dockutilPreference) 0 }}
  {{- $beforeCmd := dig "hooks" "before" "" $dockutilPreference }}
  {{- $afterCmd := dig "hooks" "after" "" $dockutilPreference }}

  {{- if ne $beforeCmd "" }}

{{ $beforeCmd }}

  {{- end }}

{{ template "shellVars/brew.tmpl" }}
dockutil_cmd="$brew_bin/dockutil"
if ! [ -f "$dockutil_cmd" ]; then
  "$brew_cmd" install dockutil
fi

"$dockutil_cmd" --remove all --no-restart
{{- range $dockutilPreference.apps }}
"$dockutil_cmd" --{{ dig "action" "add" . }} "{{ .name }}" --section apps --no-restart {{- with dig "args" list . }} {{ join " " . }}{{- end }}
{{- end }}

killall Dock
{{ range $dockutilPreference.others }}
"$dockutil_cmd" --{{ dig "action" "add" . }} "{{ .name }}" --section others --no-restart {{- with dig "args" list . }} {{ join " " . }}{{- end }}
{{- end }}

"$brew_cmd" uninstall dockutil
unset brew_bin brew_cmd dockutil_cmd

{{- if ne $afterCmd "" }}

{{ $afterCmd }}

{{- end }}

{{- end }}
