#!/usr/bin/env bash

## mise/config.toml hash : {{ include "dot_config/mise/config.toml" | sha256sum }}

set -e

if command -v mise >/dev/null; then
  set -x
  mise self-update --yes
  exit 0
fi

export MISE_INSTALL_PATH="$HOME/.local/bin/mise"
export MISE_JOBS=1
set -x

MISE_INSTALL_SCRIPT="$(mktemp)"
curl -sSLo "$MISE_INSTALL_SCRIPT" https://mise.run
sh "$MISE_INSTALL_SCRIPT"
rm "$MISE_INSTALL_SCRIPT"

"$MISE_INSTALL_PATH" ls --outdated -vv

{{ range .packages.mise.tools -}}
  "$MISE_INSTALL_PATH" install --yes -vv {{ . | quote }}
{{ end -}}
