{{- includeTemplate "featureFlags/helpers/mustEnable" (dict
  "flag" "nvim::plugins:install"
  "context" $
) -}}
{{- $binpath := includeTemplate "global/helpers/getData" (dict
  "path" (list "dependencies" "mise" "settings" "binpath")
  "defaults" "$XDG_BIN_HOME"
  "context" $
) | mustFromJson -}}

#!/usr/bin/env bash

set -euo pipefail

printf '>> Starting... %s\n' "featureflags-nvim.sh"

mise_cmd="{{ $binpath }}/mise"
if ! command -v "$mise_cmd" >/dev/null; then
  printf '>>> Error: %s (%s)\n' "mise command not found" "$mise_cmd"
  exit 127
fi
MISE_QUIET=1 eval "$("$mise_cmd" activate bash)"

if ! command -v nvim >/dev/null; then
  printf '>>> Error: %s\n' "nvim command not found"
  exit 127
fi
sync_log="$(mktemp)" &&
  printf 'nvim --headless "+Lazy! sync" +qa"' &&
  nvim --headless '+Lazy! sync' +qa >>"$sync_log" &&
  printf '>>> Finished sync (%s)\n' "$sync_log"
install_log="$(mktemp)" &&
  printf 'nvim --headless "+TSInstall all" +qa"' &&
  nvim --headless '+TSInstall all' +qa >>"$install_log" &&
  printf '>>> Finished install (%s)\n' "$install_log"

unset sync_log install_log
