#!/usr/bin/env bash

{{- if eq .chezmoi.os "darwin" }}

brew bundle install --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{- end }}

{{- if eq .chezmoi.os "linux" }}
{{- if ne (env "GITHUB_ACTIONS") "true" }}

sudo apt update && sudo apt upgrade -y

{{- end }}
{{- end }}
