{{- $brew := includeTemplate "global/helpers/getData" (dict
  "path" (list "dependencies" "brew")
  "defaults" dict
  "context" .
) | mustFromJson }}

{{- $taps := dig "taps" list $brew -}}
{{- $packages := dig "packages" list $brew -}}
{{- $casks := dig "casks" list $brew -}}
{{- $autoinstall := (dig "settings" "autoinstall" true $brew) -}}
{{- if or $taps $packages $casks $autoinstall -}}
#!/usr/bin/env sh

set -eu

printf '>> Starting... %s\n' "dependencies-brew.sh"

{{- if $autoinstall }}

printf '>>> Checking... %s\n' "Homebrew"
if ! command -v brew >/dev/null; then
  tmp="$(mktemp)"

  printf '>>> Installing... %s (%s)\n' "Homebrew" "$tmp"
  curl -fsSLo "$tmp" https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
  NONINTERACTIVE=1 bash "$tmp"
  rm -f "$tmp"
  unset tmp
fi
{{- end }}

{{ includeTemplate "shell/helpers/brewSetup" . }}
tmp="$(mktemp)"

{{- if or $taps $packages $casks }}

{
  {{- range $taps }}
    {{- printf "echo '%s %s'" "tap" (. | quote) | nindent 2 }}
  {{- end }}

  {{- range $packages }}
    {{- printf "echo '%s %s'" "brew" (. | quote) | nindent 2 }}
  {{- end }}

  {{- range $casks }}
    {{- printf "echo '%s %s'" "cask" (. | quote) | nindent 2 }}
  {{- end }}
} > "$tmp"
{{- end }}

printf '>>> Installing... %s (%s)\n' "bundle" "$tmp"
cat "$tmp"

set -x
{{- if dig "settings" "autoupdate" true $brew }}
"$brew_cmd" update --quiet
{{- end }}
"$brew_cmd" bundle install --quiet --file "$tmp"
{{- if dig "settings" "autoclean" true $brew }}
"$brew_cmd" autoremove --quiet
"$brew_cmd" cleanup --prune=all --scrub --quiet
{{- end }}
set +x

rm -f "$tmp"
unset tmp
{{ includeTemplate "shell/helpers/brewCleanup" (dict
  "context" .
  "all" true
) }}
{{- end }}