#!/usr/bin/env bash

{{- $brewVar := "$brew" | quote }}
{{- $brewPaths := list "/opt/homebrew/bin/brew" "/usr/local/bin/brew" "/home/linuxbrew/.linuxbrew/bin/brew" }}
{{- printf "brew=%s" ("${HOMEBREW_PREFIX:-}/bin/brew" | quote) | nindent 0 | nindent 0 }}
{{- range $path := $brewPaths }}
  {{- printf "if ! [ -f %s ]; then" $brewVar | nindent 0 }}
    {{- printf "brew=%s" ($path | quote) | nindent 2 }}
  {{- printf "fi" | nindent 0 }}
{{- end }}

set -ex

{{- $supportOs := keys .packages }}

{{- $currentOs := .chezmoi.os }}
{{- with .chezmoi.osRelease }}
  {{- $currentOs = printf "%s/%s" $currentOs .id -}}
{{- end }}

{{- if mustHas $currentOs $supportOs }}
  {{- $packages := get $.packages $currentOs }}
  {{- if hasKey $packages "homebrew" }}
    {{- printf "%s bundle install --verbose --file=/dev/stdin <<EOF" $brewVar | nindent 0 | nindent 0 }}
    {{- if hasKey $packages.homebrew "taps" }}{{- range $packages.homebrew.taps }}
      {{- printf "%s %s" "tap" (. | quote) | nindent 0 }}
    {{- end }}{{- end }}
    {{- if hasKey $packages.homebrew "brews" }}{{- range $packages.homebrew.brews }}
      {{- printf "%s %s" "brew" (. | quote) | nindent 0 }}
    {{- end }}{{- end }}
    {{- if hasKey $packages.homebrew "casks" }}{{- range $packages.homebrew.casks }}
      {{- printf "%s %s" "cask" (. | quote) | nindent 0 }}
    {{- end }}{{- end }}
    {{- if hasKey $packages.homebrew "mas" }}{{- range $packages.homebrew.mas }}
      {{- printf "%s %s, id: %d" "mas" (.name | quote) .id | nindent 0 }}
    {{- end }}{{- end }}
    {{- printf "EOF" | nindent 0 }}

    {{- printf "%s autoremove" $brewVar | nindent 0 | nindent 0 }}
    {{- printf "%s cleanup --prune=all --scrub" $brewVar | nindent 0 }}
  {{- end }}

  {{- if hasKey $packages "apts" }}
    {{- printf "sudo apt update" | nindent 0 | nindent 0 }}
    {{- printf "sudo apt install -y" | nindent 0 }}
    {{- range $packages.apts }}
      {{- printf " %s\n  %s" "\\" (. | quote) }}
    {{- end }}
    {{- if ne (env "GITHUB_ACTIONS") "true" }}
      {{- printf "sudo apt upgrade -y" | nindent 0 }}
    {{- end }}
    {{- printf "sudo apt clean" | nindent 0 }}
  {{- end }}
{{- end }}
