{{- $age := includeTemplate "global/helpers/getData" (dict
  "path" (list "settings" "age")
  "defaults" false
  "context" $
) | mustFromJson }}
{{- if not $age -}}
  {{- abortEmpty -}}
{{- end -}}

#!/usr/bin/env sh

set -eu

printf '>> Starting... %s\n' "decrypt-private-key.sh"

src="{{ .chezmoi.sourceDir }}/key.txt.age"
base="$HOME/.config/chezmoi"
out="$base/key.txt"

if [ -n "${CHEZMOI_KEY_TXT_BASE64:-}" ]; then
  printf '>>> Decoding... key from environment...\n'
  base64 --decode <<< "$CHEZMOI_KEY_TXT_BASE64" > "$out"
elif [ -n "$GITHUB_ACTIONS" ]; then
  printf '>>> Skipping... cannot decrypt private key on GitHub Actions\n'
fi

if [ ! -f "$out" ]; then
  printf '>>> Decrypting... private key...\n'
  mkdir -p "$base"
  chezmoi --no-tty --no-pager \
    age decrypt "$src" --output "$out" --passphrase
  chmod 600 "$out"
fi

unset src base out
