{{- $age := includeTemplate "global/helpers/getData" (dict
  "path" (list "settings" "age")
  "defaults" false
  "context" $
) | mustFromJson }}
{{- if not $age -}}
  {{- abortEmpty -}}
{{- end -}}

#!/usr/bin/env sh

set -e -u -o pipefail

printf '>> Starting... %s\n' "decrypt-private-key.sh"

src="{{ .chezmoi.sourceDir }}/key.txt.age"
base="$HOME/.config/chezmoi"
out="$base/key.txt"

if [ ! -f "$out" ]; then
    mkdir -p "$base"
    chezmoi age decrypt "$src" --output "$out" --passphrase
    chmod 600 "$out"
fi

unset src base out