#!/usr/bin/env bash

set -ex

{{- $supportOs := keys .packages }}

{{- $currentOs := .chezmoi.os }}
{{- with .chezmoi.osRelease }}
  {{- $currentOs = printf "%s/%s" $currentOs .id -}}
{{- end }}

{{- if mustHas $currentOs $supportOs }}
  {{- $packages := get $.packages $currentOs }}
  {{- if hasKey $packages "homebrew" }}
    {{- printf "brew bundle install --verbose --file=/dev/stdin <<EOF" | nindent 0 | nindent 0 }}
    {{- if hasKey $packages.homebrew "taps" }}{{- range $packages.homebrew.taps }}
      {{- printf "%s %s" "tap" (. | quote) | nindent 0 }}
    {{- end }}{{- end }}
    {{- if hasKey $packages.homebrew "brews" }}{{- range $packages.homebrew.brews }}
      {{- printf "%s %s" "brew" (. | quote) | nindent 0 }}
    {{- end }}{{- end }}
    {{- if hasKey $packages.homebrew "casks" }}{{- range $packages.homebrew.casks }}
      {{- printf "%s %s" "cask" (. | quote) | nindent 0 }}
    {{- end }}{{- end }}
    {{- if hasKey $packages.homebrew "mas" }}{{- range $packages.homebrew.mas }}
      {{- printf "%s %s, id: %d" "mas" (.name | quote) .id | nindent 0 }}
    {{- end }}{{- end }}
    {{- printf "EOF" | nindent 0 }}

    {{- printf "brew autoremove" | nindent 0 | nindent 0 }}
    {{- printf "brew cleanup --prune=all --scrub" | nindent 0 }}
  {{- end }}

  {{- if hasKey $packages "apts" }}
    {{- printf "sudo apt update" | nindent 0 | nindent 0 }}
    {{- printf "sudo apt install -y" | nindent 0 }}
    {{- range $packages.apts }}
      {{- printf " %s\n  %s" "\\" (. | quote) }}
    {{- end }}
    {{- if ne (env "GITHUB_ACTIONS") "true" }}
      {{- printf "sudo apt upgrade -y" | nindent 0 }}
    {{- end }}
    {{- printf "sudo apt clean" | nindent 0 }}
  {{- end }}
{{- end }}
