#!/usr/bin/env bash

## mise/config.toml hash : {{ include "dot_config/mise/config.toml" | sha256sum }}

set -e

if command -v mise >/dev/null; then
  set -x
  mise self-update --yes
  exit 0
fi

set -x

export MISE_INSTALL_PATH="$HOME/.local/bin/mise"

MISE_INSTALL_SCRIPT="$(mktemp)"
curl -sSLo "$MISE_INSTALL_SCRIPT" https://mise.run
sh "$MISE_INSTALL_SCRIPT"
rm "$MISE_INSTALL_SCRIPT"

MIST_TOOLS=(
  {{ range .packages.mise.tools -}}
    {{ . | quote }}
  {{ end -}}
)

"$MISE_INSTALL_PATH" install \
  --yes "${MIST_TOOLS[@]}" || exit 0
