{{- $mas := includeTemplate "global/helpers/getData" (dict
  "path" (list "dependencies" "mas")
  "defaults" dict
  "context" .
) | mustFromJson }}

{{- $packages := dig "packages" list $mas -}}
{{- if $packages -}}
#!/usr/bin/env sh

set -euo pipefail

printf '>> Starting... %s\n' "dependencies-mas.sh"

{{- if dig "settings" "autoinstall" true $mas }}

{{ includeTemplate "shellVars/brew.tmpl" | nindent 2 }}

printf '>>> Checking... %s\n' "mas"
if ! command -v mas >/dev/null; then
  printf '>>> Installing... %s\n' "mas"
  "$brew_cmd" install mas
fi
{{- end }}

mas_cmd="$brew_bin/mas"
if ! [ -x "$mas_cmd" ]; then
  printf '>>> Error: %s\n' "mas command not found"
  exit 1
fi

printf '>>> Installing... %s\n' "App Store packages"

set -x
{{- range $packages }}
"$mas_cmd" install {{ printf "%-15s" (.id | toString | quote) }} ## {{ .name }}
{{- end }}

{{- if dig "settings" "autoupdate" true $mas }}
"$mas_cmd" upgrade
{{- end }}

{{- if dig "settings" "autoreset" true $mas }}
"$mas_cmd" reset >/dev/null 2>&1 || true
{{- end }}
set +x

{{- if dig "settings" "autoremove" false $mas }}

printf '>>> Uninstalling... %s\n' "mas"
"$brew_cmd" uninstall mas
{{- end }}

unset brew_bin brew_cmd mas_cmd
{{- end }}