#!/usr/bin/env bash

set -e

if command -v mise >/dev/null; then
  exit 0
fi

export OP_ACCOUNT="my.1password.com"
export GITHUB_TOKEN=op://64yg7lvccdzebup52w2nmzoady/GITHUB_TOKEN/password

set -x

export MISE_INSTALL_PATH="$HOME/.local/bin/mise"
## disable parallel
export MISE_JOBS=1
## Disabled .tool-versions temporary on install script
export MISE_OVERRIDE_TOOL_VERSIONS_FILENAME=none
sh "$HOME/.local/share/mise/.install.sh"

COMMANDS=()
if [[ "$KCDF_MODE" == "full" ]]; then
  ## Install all tools because github token is set
  COMMANDS=(op run -- "$MISE_INSTALL_PATH" install --verbose)
else
  ## Install only core tools first to avoid github rate limit
  COMMANDS=("$MISE_INSTALL_PATH" install python)
fi

"${COMMANDS[@]}"
