#!/usr/bin/env sh

set -euo pipefail

printf '>> Starting... %s\n' "example.sh"
printf '>>> Current profile: %s\n' "{{ ._global.profile }}"
printf '>>> Current platform: %s\n' "{{ ._global.platform }}"

{{- $deps := includeTemplate "global/helpers/getData" (dict
  "path" (list "dependencies")
  "defaults" list
  "context" .
) | mustFromJson }}
{{- with $deps }}

## Dependencies:
{{ . | toPrettyJson | comment "## " }}
{{- end }}

{{- $preferences := includeTemplate "global/helpers/getData" (dict
  "path" (list "preferences")
  "defaults" dict
  "context" .
) | mustFromJson }}
{{- with $preferences }}

## Preferences:
{{ . | toPrettyJson | comment "## " }}
{{- end }}

{{- $settings := includeTemplate "global/helpers/getData" (dict
  "path" (list "settings")
  "defaults" dict
  "context" .
) | mustFromJson }}
{{- with $settings }}

## Settings:
{{ . | toPrettyJson | comment "## " }}
{{- end }}