{{- $apk := includeTemplate "global/helpers/getData" (dict
  "path" (list "dependencies" "apk")
  "defaults" dict
  "context" .
) | mustFromJson }}

{{- $packages := dig "packages" list $apk -}}
{{- $autoupdate := dig "settings" "autoupdate" true $apk -}}
{{- $autoupgrade := dig "settings" "autoupgrade" true $apk -}}
{{- if or $packages $autoupdate $autoupgrade -}}
#!/usr/bin/env bash

set -euo pipefail

printf '>> Starting... %s\n' "dependencies-apk.sh"

printf '>>> Checking... %s\n' "apk"
if ! command -v "apk" >/dev/null; then
  printf '>>> Error: apk command not found\n'
  exit 127
fi

run_as_root() {
  if [ "$(id -u)" -eq 0 ]; then
    printf '>>> $ %s\n' "$*"
    "$@"
  elif command -v sudo >/dev/null; then
    printf '>>> $ %s %s\n' "sudo $*"
    sudo "$@"
  else
    printf '>>> Error: %s\n' "sudo is required when not running as root"
    exit 1
  fi
}

{{- if $autoupdate }}
run_as_root apk update --quiet
{{- end }}

{{- if $packages }}
run_as_root apk add --no-cache --quiet
{{- range $packages }} \
  {{- . | quote | nindent 2 -}}
{{ end }}
{{- end }}

{{- if $autoupgrade }}
run_as_root apk upgrade --prune --quiet
{{- end }}

unset -f run_as_root
{{- end }}