#!/usr/bin/env sh

printf '>> Starting... %s\n' "test.sh"
printf '>> Current profile: %s\n' "{{ .global.profile }}"
printf '>> Current OS: %s\n' "{{ .global.os }}"
printf '>> 1P: cli=%s, signed in=%s\n' \
  "{{ .global.opExist }}" "{{ .global.opSignedIn }}"

set -e

{{- $deps := dig "dependencies" .global.profile .global.os "" $ }}
{{- with $deps }}

## Dependencies: {{ . | toJson }}
{{- end }}

{{- $prefs := dig "preferences" .global.profile .global.os "" $ }}
{{- with $prefs }}

## Preferences: {{ . | toJson }}
{{- end }}
