{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::bitbucket:config"
  "context" $
) }}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::gitlab:config"
  "beforeLine" 2
  "context" $
) }}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::security:config"
  "beforeLine" 2
  "afterLine" 2
  "context" $
) -}}
