{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::bitbucket:config"
  "afterLine" 2
  "context" $
) }}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::gitlab:config"
  "afterLine" 2
  "context" $
) }}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::github:config"
  "afterLine" 2
  "context" $
) }}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::stm:config"
  "afterLine" 2
  "context" $
) }}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::homepi:config"
  "afterLine" 2
  "context" $
) }}

{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "ssh::security:config"
  "afterLine" 2
  "context" $
) -}}
