## https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html#cli-configure-files-settings

{{- if .global.opSignedin }}

{{ onepasswordDocument "6dqgqbfebgrdo7vo4hym5c4bba" "64yg7lvccdzebup52w2nmzoady" }}
{{- end -}}
