{{- includeTemplate "featureFlags/helpers/mustEnable" (dict
  "flag" "aws::enable"
  "context" $
) -}}

## https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html#cli-configure-files-settings

[default]
region          = us-east-1
output          = json
cli_auto_prompt = on-partial
cli_history     = enabled
retry_mode      = standard
max_attempts    = 3

{{ includeTemplate "featureFlags/helpers/include" (dict
  "flag" "aws::stm:config"
  "context" $
) }}
