{{- includeTemplate "featureFlags/helpers/mustEnable" (dict
  "flag" "ai::codex:enable"
  "context" $
) -}}

#:schema https://developers.openai.com/codex/config-schema.json

## https://developers.openai.com/codex/config-reference

approval_policy        = "on-request"
file_opener            = "vscode-insiders"
model                  = "gpt-5.5"
model_reasoning_effort = "xhigh"
personality            = "pragmatic"

notify = ["{{ .chezmoi.homeDir }}/.codex/computer-use/Codex Computer Use.app/Contents/SharedSupport/SkyComputerUseClient.app/Contents/MacOS/SkyComputerUseClient", "turn-ended"]

[history]
max_bytes   = 5000000    ## 5 MB
persistence = "save-all"

[feedback]
enabled = false

[mcp_servers.context7]
command = "mise"
args    = ["exec", "npm:@upstash/context7-mcp", "--", "context7-mcp"]

[mcp_servers.memory]
command = "mise"
args = [
  "exec",
  "npm:@modelcontextprotocol/server-memory",
  "--",
  "mcp-server-memory",
]

[mcp_servers.sequential-thinking]
command = "mise"
args = [
  "exec",
  "npm:@modelcontextprotocol/server-sequential-thinking",
  "--",
  "mcp-server-sequential-thinking",
]

[mcp_servers.svelte]
url = "https://mcp.svelte.dev/mcp"

{{- if includeTemplate "global/helpers/isDarwin" $ }}

[mcp_servers.node_repl]
args = []
command = "/Applications/Codex.app/Contents/Resources/cua_node/bin/node_repl"
startup_timeout_sec = 120

[mcp_servers.node_repl.env]
NODE_REPL_NATIVE_PIPE_CONNECT_TIMEOUT_MS = "1000"
NODE_REPL_NODE_MODULE_DIRS = "/Applications/Codex.app/Contents/Resources/cua_node/lib/node_modules"
NODE_REPL_NODE_PATH = "/Applications/Codex.app/Contents/Resources/cua_node/bin/node"
NODE_REPL_TRUSTED_CODE_PATHS = "{{ .chezmoi.homeDir }}/.codex"
CODEX_HOME = "{{ .chezmoi.homeDir }}/.codex"
NODE_REPL_TRUSTED_BROWSER_CLIENT_SHA256S = "97669f77b3ca7114a2df05d55646416ea34b28100c07213ef9f643803449ef2f"
BROWSER_USE_AVAILABLE_BACKENDS = "chrome,iab"
NODE_REPL_INSTRUCTIONS_USE_CASE_BROWSER = "Control the in-app browser in conjunction with the Browser Plugin."
NODE_REPL_INSTRUCTIONS_USE_CASE_CHROME = "Control the Chrome browser in conjunction with the Chrome Plugin. Prefer this method of controlling Chrome over alternatives (such as Computer Use) unless the user explicitly mentions an alternative."
BROWSER_USE_CODEX_APP_BUILD_FLAVOR = "prod"
BROWSER_USE_CODEX_APP_VERSION = "26.623.141536"
CODEX_CLI_PATH = "/Applications/Codex.app/Contents/Resources/codex"
{{- end }}

[plugins."documents@openai-primary-runtime"]
enabled = true

[plugins."spreadsheets@openai-primary-runtime"]
enabled = true

[plugins."presentations@openai-primary-runtime"]
enabled = true

[plugins."browser-use@openai-bundled"]
enabled = true

[plugins."google-calendar@openai-curated"]
enabled = true

[plugins."gmail@openai-curated"]
enabled = true

[plugins."github@openai-curated"]
enabled = true

[plugins."sites@openai-bundled"]
enabled = true

[plugins."browser@openai-bundled"]
enabled = true

[marketplaces.openai-bundled]
last_updated = "2026-06-05T08:36:29Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.codex/.tmp/bundled-marketplaces/openai-bundled"

[marketplaces.openai-primary-runtime]
last_updated = "2026-06-05T08:34:58Z"
source_type = "local"
source = "{{ .chezmoi.homeDir }}/.cache/codex-runtimes/codex-primary-runtime/plugins/openai-primary-runtime"

[features]
memories = true

[desktop]
conversationDetailMode = "STEPS_COMMANDS"
ambient-suggestions-enabled = false
mac-menu-bar-enabled = false
show-context-window-usage = true
