#!/usr/bin/env sh

printf '>> Starting... %s\n' "install-pkgs.sh"

set -e

{{- $deps := includeTemplate "global/helpers/getData" (dict "path" (list "dependencies") "defaults" list "context" .) | mustFromJson }}
{{- with $deps }}

{{- if dig "homebrew" "_settings" "install" true . }}

printf '>>> Checking... %s\n' "Homebrew"
if ! command -v brew >/dev/null; then
  tmp="$(mktemp)"

  printf '>>> Installing... %s (%s)\n' "Homebrew" "$tmp"
  curl -fsSLo "$tmp" https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh
  NONINTERACTIVE="${DOCKER:-}" bash "$tmp"
  rm "$tmp"

  unset tmp
fi

{{- end }}

{{- if or (dig "homebrew" "taps" list .) (dig "homebrew" "brews" list .) (dig "homebrew" "casks" list .) (dig "homebrew" "mas" list .) }}

tmp="$(mktemp)"
{{ includeTemplate "shellVars/brew.tmpl" . }}

{
  {{- range dig "homebrew" "taps" list . }}
    {{- printf "echo '%s %s'" "tap" (. | quote) | nindent 2 }}
  {{- end }}

  {{- range dig "homebrew" "brews" list . }}
    {{- printf "echo '%s %s'" "brew" (. | quote) | nindent 2 }}
  {{- end }}

  {{- range dig "homebrew" "casks" list . }}
    {{- printf "echo '%s %s'" "cask" (. | quote) | nindent 2 }}
  {{- end }}

  {{- range dig "homebrew" "mas" list . }}
    {{- printf "echo '%s %s, id: %d'" "mas" (.name | quote) .id | nindent 2 }}
  {{- end }}
} >> "$tmp"

## Add brew bin to PATH temporary (because mas needs it)
export PATH="$brew_bin:$PATH"

export HOMEBREW_NO_ANALYTICS=true
export HOMEBREW_NO_ENV_HINTS=true
export HOMEBREW_NO_AUTO_UPDATE=true
{{- range $key, $value := dig "homebrew" "_settings" "envs" dict . }}
export {{ $key }}={{ $value | quote }}
{{- end }}

printf '>>> Installing... %s (%s)\n' "bundle" "$tmp"
cat "$tmp"

set -x
# "$brew_cmd" config || true ## NOTE: For debugging only
# "$brew_cmd" doctor || true ## NOTE: For debugging only
"$brew_cmd" bundle install --verbose --debug --file "$tmp"
{{- if dig "homebrew" "_settings" "cleanup" true . }}
"$brew_cmd" autoremove
"$brew_cmd" cleanup --prune=all --scrub
{{- end }}
set +x

rm -rf "$tmp"
unset tmp brew_bin brew_cmd
unset HOMEBREW_NO_ANALYTICS HOMEBREW_NO_ENV_HINTS HOMEBREW_NO_AUTO_UPDATE

{{- end }}
{{- if dig "apt" "packages" list . }}

printf '>>> Installing... %s (%s)\n' "apt packages"

set -x
sudo apt update
{{- if dig "apt" "_settings" "upgrade" true . }}
sudo apt upgrade -y
{{- end }}
sudo apt install -y{{ range dig "apt" "packages" list . }} \
  {{ . | quote }}
{{- end }}
sudo apt clean
set +x

{{- end }}
{{- if dig "apk" "packages" list . }}

printf '>>> Installing... %s (%s)\n' "apk packages"

set -x
sudo apk update
{{- if dig "apk" "_settings" "upgrade" true . }}
sudo apk upgrade --prune
{{- end }}
sudo apk add --no-cache{{ range dig "apk" "packages" list . }} \
  {{ . | quote }}
{{- end }}
set +x

{{- end }}{{- end }}
