#!/usr/bin/env sh

printf '>> Starting... %s\n' "setup-mise.sh"

set -e

{{- $deps := includeTemplate "global/helpers/getData" (dict "path" (list "dependencies") "defaults" "" "context" .) | mustFromJson }}
{{- with $deps }}
{{- if dig "mise" "_settings" "install" true . }}

printf '>>> Checking... %s\n' "mise"
export MISE_INSTALL_PATH="$HOME/.local/bin/mise" ## Use in mise.run script
if ! command -v mise >/dev/null; then
  tmp="$(mktemp)"

  printf '>>> Installing... %s (%s)\n' "mise" "$tmp"
  curl -fsSLo "$tmp" https://mise.run
  sh "$tmp"
  rm "$tmp"

  unset tmp
fi

"$MISE_INSTALL_PATH" --version

set -x

{{- if dig "mise" "_settings" "upgrade" true . }}
"$MISE_INSTALL_PATH" self-update --yes
{{- end }}
{{- $tools := (dig "mise" "tools" "" .) }}

{{- with $tools }}
{{- if and (kindIs "string" .) (eq . "ALL") }}
"$MISE_INSTALL_PATH" install --yes
{{- else if kindIs "slice" . }}
"$MISE_INSTALL_PATH" install --yes {{- range . }} {{ . }}{{- end }}
{{- end }}
{{- end }}
set +x

unset MISE_INSTALL_PATH

{{- end }}{{- end }}
