#!/usr/bin/env sh

printf '>> Starting... %s\n' "prerequisite.sh"

set -e

{{- $deps := includeTemplate "global/helpers/getData" (dict "path" (list "dependencies") "defaults" list "context" .) | mustFromJson }}
{{- with $deps }}
{{- if dig "apt" "packages" list . }}

printf '>>> Checking... %s\n' "apt"
if ! command -v apt >/dev/null; then
  echo 'Missing apt command' >&2
  exit 1
fi

{{- end }}
{{- if dig "apk" "packages" list . }}

printf '>>> Checking... %s\n' "apk"
if ! command -v apk >/dev/null; then
  echo 'Missing apk command' >&2
  exit 1
fi

{{- end }}{{- end }}
