[tools]
1password-cli = "2.34.1"  ## For password management
age           = "1.3.1"   ## For file encryption
bun           = "1.3.14"
github-cli    = "2.96.0"
go            = "1.25.5"  ## For golang package management
jq            = "1.8.2"
neovim        = "0.12.3"  ## For terminal editor
node          = "24.18.0" ## For node runtime
python        = "3.14.6"  ## For python runtime
rust          = "1.96.0"
yq            = "4.53.3"
chezmoi       = "2.70.5"  ## For dotfiles management
usage         = "3.5.3"   ## Required by `mise completion`
uv            = "0.11.26"

[tool_alias]
cloc           = "github:AlDanial/cloc"
forgecode      = "github:tailcallhq/forgecode"
playwright-cli = "npm:@playwright/cli"
promptfoo      = "npm:promptfoo"
skills         = "npm:skills"

[settings]
disable_backends                    = ["spm", "dotnet", "gem", "ubi", "asdf"]
not_found_auto_install              = true
pin                                 = true
idiomatic_version_file_enable_tools = ["node", "bun", "pnpm", "yarn"] ## https://mise.jdx.dev/configuration.html#idiomatic-version-files
experimental                        = true

[settings.status]
show_env      = true
show_tools    = true
truncate      = false
{{- if includeTemplate "global/helpers/isMachine" $ }}
missing_tools = "always"
{{- end }}

[settings.npm]
package_manager = "bun"

[settings.node]
{{- includeTemplate "featureFlags/helpers/include" (dict
  "flag" "mise::node:unofficial-builds"
  "beforeLine" 1
  "afterLine" 0
  "context" $
) }}

[settings.pipx]
uvx = true

[env]
_.file = '.env'
