name: Publish docker

on:
  workflow_dispatch:
    inputs:
      images:
        description: The base images to build the docker image
        type: choice
        options:
          - ubuntu:latest,debian:latest
          - ubuntu:latest
          - debian:latest
      platforms:
        description: The platforms built docker image should support
        type: choice
        options:
          - linux/amd64,linux/arm64
          - linux/amd64
          - linux/arm64
  release:
    types: [published]
  ## FIXME: Remove push trigger once tested
  push:
    branches:
      - feature/improve-dockerfile-2

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.images }}-${{ github.event.inputs.platforms }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  info:
    runs-on: ubuntu-latest
    outputs:
      dh-registry: ${{ steps.info.outputs.dh-registry }}
      dh-repo: ${{ steps.info.outputs.dh-repo }}
      dh-name: ${{ steps.info.outputs.dh-name }}
      gh-registry: ${{ steps.info.outputs.gh-registry }}
      gh-repo: ${{ steps.info.outputs.gh-repo }}
      gh-name: ${{ steps.info.outputs.gh-name }}
      build-matrix: ${{ steps.info.outputs.build-matrix }}
      merge-matrix: ${{ steps.info.outputs.merge-matrix }}
      image-labels: ${{ steps.info.outputs.image-labels }}
      image-annotations: ${{ steps.info.outputs.image-annotations }}
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Get docker information
        id: info
        uses: ./.github/actions/docker-info
        with:
          images: ${{ inputs.images || 'ubuntu:latest,debian:latest' }}
          platforms: ${{ inputs.platforms || 'linux/amd64,linux/arm64' }}

  build:
    needs: [info]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.info.outputs.build-matrix) }}
    name: build ${{ matrix.image }} (${{ matrix.platform }})
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up docker
        id: setup
        uses: ./.github/actions/docker-setup
        with:
          platforms: ${{ matrix.platform }}
          dh-registry: ${{ needs.info.outputs.dh-registry }}
          dh-username: ${{ secrets.DH_USERNAME }}
          dh-password: ${{ secrets.DH_TOKEN }}
          gh-registry: ${{ needs.info.outputs.gh-registry }}
      - name: Validate docker build configuration
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          file: Dockerfile
          call: check
          platforms: ${{ matrix.platform }}
          labels: ${{ needs.info.outputs.image-labels }}
          annotations: ${{ needs.info.outputs.image-annotations }}
          build-args: |
            "IMAGE=${{ matrix.image }}"
            "KCDF_REPO=${{ github.repository }}"
            "KCDF_REF=${{ github.ref_type }}/${{ github.ref_name }}"
            "KCDF_SHA=${{ github.sha }}"

  merge:
    needs: [info, build]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.info.outputs.merge-matrix) }}
    runs-on: ubuntu-latest
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: echo '${{ matrix }}'
