name: Publish docker

on:
  workflow_dispatch:
    inputs:
      images:
        description: The base images to build the docker image
        type: choice
        options:
          - ubuntu:latest,debian:latest
          - ubuntu:latest
          - debian:latest
      platforms:
        description: The platforms built docker image should support
        type: choice
        options:
          - linux/amd64,linux/arm64
          - linux/amd64
          - linux/arm64
  release:
    types: [published]
  ## FIXME: Remove push trigger once tested
  push:
    branches:
      - feature/improve-dockerfile-2

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.images }}-${{ github.event.inputs.platforms }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DH_REGISTRY: index.docker.io
  DH_NAME: kamontat/dotfiles
  GH_REGISTRY: ghcr.io
  GH_NAME: ${{ github.repository }}

jobs:
  info:
    runs-on: ubuntu-latest
    outputs:
      build-matrix: ${{ steps.build.outputs.build-matrix }}
      merge-matrix: ${{ steps.build.outputs.merge-matrix }}
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Build matrix
        id: build
        uses: ./.github/actions/docker-matrix
        with:
          images: ${{ inputs.images || 'ubuntu:latest,debian:latest' }}
          platforms: ${{ inputs.platforms || 'linux/amd64,linux/arm64' }}
  build:
    needs: [info]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.info.outputs.build-matrix) }}
    name: build ${{ matrix.image }} (${{ matrix.platform }})
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: echo '${{ matrix }}'

  merge:
    needs: [info, build]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.info.outputs.merge-matrix) }}
    runs-on: ubuntu-latest
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - run: echo '${{ matrix }}'
