name: Publish docker

on:
  workflow_dispatch:
    inputs:
      images:
        description: The base images to build the docker image
        type: choice
        options:
          - ubuntu:latest,debian:latest
          - ubuntu:latest
          - debian:latest
      platforms:
        description: The platforms built docker image should support
        type: choice
        options:
          - linux/amd64,linux/arm64
          - linux/amd64
          - linux/arm64
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.images }}-${{ github.event.inputs.platforms }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  PLATFORMS: ${{ inputs.platforms || 'linux/amd64,linux/arm64' }}
  IMAGES: ${{ inputs.images || 'ubuntu:latest,debian:latest' }}
  DH_REGISTRY: index.docker.io
  DH_NAME: kamontat/dotfiles
  GH_REGISTRY: ghcr.io
  GH_NAME: ${{ github.repository }}

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.build.outputs.matrix }}
    steps:
      - name: Build matrix
        id: build
        run: ./.github/actions/matrix-build
