name: Publish docker

on:
  workflow_dispatch:
    inputs:
      images:
        description: The base images to build the docker image
        type: choice
        options:
          - "ubuntu:latest,debian:latest,alpine:latest"
          - ubuntu:latest
          - debian:latest
          - alpine:latest
      platforms:
        description: The platforms built docker image should support
        type: choice
        options:
          - linux/amd64,linux/arm64
          - linux/amd64
          - linux/arm64
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.images }}-${{ github.event.inputs.platforms }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Set up repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/docker-info
        id: info
        with:
          images: ${{ inputs.images || 'ubuntu:latest,debian:latest' }}
          platforms: ${{ inputs.platforms || 'linux/amd64,linux/arm64' }}
    outputs:
      dh_registry: ${{ steps.info.outputs.dh_registry }}
      dh_repo: ${{ steps.info.outputs.dh_repo }}
      gh_registry: ${{ steps.info.outputs.gh_registry }}
      gh_repo: ${{ steps.info.outputs.gh_repo }}
      gh_username: ${{ steps.info.outputs.gh_username }}
      dh_image_name: ${{ steps.info.outputs.dh_image_name }}
      gh_image_name: ${{ steps.info.outputs.gh_image_name }}
      image_names: ${{ steps.info.outputs.image_names }}
      image_labels: ${{ steps.info.outputs.image_labels }}
      image_annotations: ${{ steps.info.outputs.image_annotations }}
      cache_prefix: ${{ steps.info.outputs.cache_prefix }}
      digest_prefix: ${{ steps.info.outputs.digest_prefix }}
      matrix_build: ${{ steps.info.outputs.matrix_build }}
      matrix_merge: ${{ steps.info.outputs.matrix_merge }}
      conf_multiplatform: ${{ steps.info.outputs.conf_multiplatform }}

  build:
    needs: [info]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.info.outputs.matrix_build) }}
    name: build (${{ matrix.key }})
    runs-on: ${{ matrix.runs_on }}
    permissions:
      contents: read
      packages: write ## For pushing images
    steps:
      - name: Set up repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set up Docker
        uses: ./.github/actions/docker-setup
        with:
          platforms: ${{ matrix.platform }}
          dh_username: ${{ secrets.DH_USERNAME }}
          dh_token: ${{ secrets.DH_TOKEN }}
          gh_registry: ${{ needs.info.outputs.gh_registry }}
          gh_username: ${{ needs.info.outputs.gh_username }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: ./.github/actions/docker-build
        id: build
        with:
          platforms: ${{ matrix.platform }}
          dockerfile: ${{ matrix.dockerfile }}
          build_args: ${{ matrix.build_args }}
          cache_key: ${{ matrix.cache_key }}
          cache_image_name: ${{ needs.info.outputs.dh_image_name }}
          digest_prefix: ${{ needs.info.outputs.digest_prefix }}
          digest_key: ${{ matrix.digest_key }}
          image_names: ${{ needs.info.outputs.image_names }}
          image_labels: ${{ needs.info.outputs.image_labels }}
          image_annotations: ${{ needs.info.outputs.image_annotations }}
          conf_multiplatform: ${{ needs.info.outputs.conf_multiplatform }}

  merge:
    needs: [info, build]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.info.outputs.matrix_merge) }}
    name: merge (${{ matrix.key }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      artifact-metadata: write ## For GitHub provenance
      attestations: write ## For GitHub provenance
      id-token: write ## For GitHub provenance
    steps:
      - name: Set up repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Set up Docker
        uses: ./.github/actions/docker-setup
        with:
          platforms: ${{ matrix.platforms }}
          dh_username: ${{ secrets.DH_USERNAME }}
          dh_token: ${{ secrets.DH_TOKEN }}
          gh_registry: ${{ needs.info.outputs.gh_registry }}
          gh_username: ${{ needs.info.outputs.gh_username }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Merge and push Docker image manifests
        uses: ./.github/actions/docker-merge
        with:
          tag_suffix: ${{ matrix.tag_suffix }}
          digest_key: ${{ matrix.digest_key }}
          digest_prefix: ${{ needs.info.outputs.digest_prefix }}
          dh_image_name: ${{ needs.info.outputs.dh_image_name }}
          gh_image_name: ${{ needs.info.outputs.gh_image_name }}
          image_names: ${{ needs.info.outputs.image_names }}
