name: Publish docker

on:
  workflow_dispatch:
    inputs:
      images:
        description: The base images to build the docker image
        type: choice
        options:
          - ubuntu:latest,debian:latest
          - ubuntu:latest
          - debian:latest
      platforms:
        description: The platforms built docker image should support
        type: choice
        options:
          - linux/amd64,linux/arm64
          - linux/amd64
          - linux/arm64
  release:
    types: [published]
  ## FIXME: Remove push trigger once tested
  push:
    branches:
      - feature/improve-dockerfile-2

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.images }}-${{ github.event.inputs.platforms }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  info:
    runs-on: ubuntu-latest
    outputs:
      dh-registry: ${{ steps.info.outputs.dh-registry }}
      dh-repo: ${{ steps.info.outputs.dh-repo }}
      dh-name: ${{ steps.info.outputs.dh-name }}
      gh-registry: ${{ steps.info.outputs.gh-registry }}
      gh-repo: ${{ steps.info.outputs.gh-repo }}
      gh-name: ${{ steps.info.outputs.gh-name }}
      multiplatform: ${{ steps.info.outputs.multiplatform }}
      build-matrix: ${{ steps.info.outputs.build-matrix }}
      merge-matrix: ${{ steps.info.outputs.merge-matrix }}
      image-labels: ${{ steps.info.outputs.image-labels }}
      image-annotations: ${{ steps.info.outputs.image-annotations }}
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/docker-info
        id: info
        with:
          images: ${{ inputs.images || 'ubuntu:latest,debian:latest' }}
          platforms: ${{ inputs.platforms || 'linux/amd64,linux/arm64' }}

  build:
    needs: [info]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.info.outputs.build-matrix) }}
    name: build (${{ matrix.key }})
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./.github/actions/docker-build
        with:
          key: ${{ matrix.key }}
          platforms: ${{ matrix.platform }}
          file: ${{ matrix.dockerfile }}
          build-args: ${{ matrix.build-args }}
          multiplatform: ${{ needs.info.outputs.multiplatform }}
          image-names: |
            ${{ needs.info.outputs.dh-name }}
            ${{ needs.info.outputs.gh-name }}
          image-labels: ${{ needs.info.outputs.image-labels }}
          image-annotations: ${{ needs.info.outputs.image-annotations }}
          ## https://docs.docker.com/build/ci/github-actions/cache/#registry-cache
          image-cache: ${{ needs.info.outputs.dh-name }}:cache-${{ matrix.key }}
          gh-registry: ${{ needs.info.outputs.gh-registry }}
          dh-registry: ${{ needs.info.outputs.dh-registry }}
          dh-username: ${{ secrets.DH_USERNAME }}
          dh-password: ${{ secrets.DH_TOKEN }}

  merge:
    needs: [info, build]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.info.outputs.merge-matrix) }}
    name: merge (${{ matrix.key }})
    runs-on: ubuntu-latest
    steps:
      - name: Download digests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ matrix.key }}-*
          merge-multiple: true
      - run: ls -la ${{ runner.temp }}/digests
