name: Main

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  INSTALL_CLI: /tmp/chezmoi.sh
  CHEZMOI_BIN: /tmp/bin

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Set up repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up 1Password CLI
        uses: 1password/install-cli-action@9a0c9dd934086b7ab1d90115d455bda1c53c2bdb # v2.0.2
      - name: Check 1Password account
        run: op user get --me
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
      - name: Restore chezmoi cache
        id: cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ env.CHEZMOI_BIN }}
          key: chezmoi-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('.chezmoiversion') }}-${{ hashFiles('.tool-versions') }}
      - name: Download chezmoi install script
        if: steps.cache.outputs.cache-hit != 'true'
        run: curl -fsSLo $INSTALL_CLI get.chezmoi.io
      - name: Install chezmoi
        if: steps.cache.outputs.cache-hit != 'true'
        run: sh "$INSTALL_CLI" -d -b "$CHEZMOI_BIN" -t "v$(cat .chezmoiversion)"
      - name: Save chezmoi cache
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ env.CHEZMOI_BIN }}
          key: chezmoi-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('.chezmoiversion') }}-${{ hashFiles('.tool-versions') }}
      - name: Add chezmoi to PATH variable
        run: echo "$CHEZMOI_BIN" >> "$GITHUB_PATH"
      - name: Get chezmoi version
        run: chezmoi --version
      - name: Apply chezmoi config
        run: |
          chezmoi init --apply \
            --no-pager --no-tty \
            --purge-binary --force \
            --exclude=encrypted \
            --source ${{ github.workspace }}
      - name: Run full setup
        run: kdf-setup.sh
        env:
          CHEZMOI_ARGUMENTS: --force --source ${{ github.workspace }}
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
